<a href="https://colab.research.google.com/github/dudgus7477/python/blob/main/01.%20(%EC%8B%A4%EC%8A%B5%EC%9A%A9)%20%EC%9E%85%EC%B6%9C%EB%A0%A5%EA%B3%BC%20%EB%B3%80%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# 1. 파이썬 명령어 형식
<img src='https://github.com/teacher-jiejie/allinone_AI/blob/images/0_%EB%AA%85%EB%A0%B9%EC%96%B4.png?raw=true' width=400>

# 2. 출력명령어
### 출력 명령어 형식


> print( 출력할 내용 )

In [ ]:
# 숫자 출력 818

In [ ]:
# 문자 출력 8월 18일

### 문자는 따옴표로 감싸주어야 함
> print('문자')

> print("문자")

In [ ]:
# 문자는 따옴표로 감싸주어야 함

In [ ]:
# 연산하여 출력하기

In [ ]:
# 숫자라 하더라도 따옴표로 감싸면 문자로 인식

In [ ]:
# ** 제곱


# 몫


# 나머지

### 연결하여 출력하기
> print(  ,  )
<br/>
> print(  +  )

In [ ]:
# 콤마, 로 연결하여 출력하기

In [ ]:
# 더하기 +로 연결하여 출력하기

In [ ]:
# +는 문자열 붙이기만 가능

# 3. 입력명령어
### 입력명령어 형식
> input('입력안내문')
######입력한 단어가 결과창에 뜸

In [ ]:
#생일 입력받고 출력하기

######입력받은 결과는 항상 문자열로 나타남.

### 순차구조

<img src='https://github.com/teacher-jiejie/allinone_AI/blob/images/66_%E1%84%89%E1%85%AE%E1%86%AB%E1%84%8E%E1%85%A1%E1%84%80%E1%85%AE%E1%84%8C%E1%85%A9.png?raw=true' width=600>

In [ ]:
print('---000 웹사이트 회원가입 ---')

print('000 웹사이트 가입을 환영합니다!')

####실습1. 환영 문구만들기

In [ ]:
#위에꺼에서 코드를 추가해서 아래처럼 출력되도록 만들어봅시다!
#~(내가 입력한 아이디)님 가입을 환영합니다.

# 4. 변수


> 변수이름 = 저장할 데이터


<img src = 'https://github.com/teacher-jiejie/allinone_AI/blob/images/%E1%84%87%E1%85%A7%E1%86%AB%E1%84%89%E1%85%AE%E1%84%8B%E1%85%B5%E1%84%86%E1%85%B5%E1%84%8C%E1%85%B5.png?raw=true' width =500>

In [ ]:
# 변수를 활용하여 고등학생을 출력해봅시다.
b = '학생'
c = '고등'
d = '대'

### 변수를 활용하여 연산하기
1) 커피 가격 계산하기

In [ ]:
#파이썬에서는 변수이름 꼭 영어로 할 필요 없음!

In [ ]:
#아메리카노 가격 출력

In [ ]:
# 아메리카노 3개, 카페라떼 1개, 카푸치노 2개 구매한 가격은?



> 코랩에서는 print안써도 결과 출력됨(but, 여러가지 한번에 출력할 때는 print 사용하기)

####실습2. vip는 10% 할인되는 카페


*   3가지 메뉴에 대한 개수를 입력받고
*   출력결과가 아래와 같이 나오도록 만들어봅시다.
*   vip가 되시면 (원래가격)원을 (vip가격)원에 구매 가능합니다!

# 5. 데이터타입

> 정수 int

> 실수 float

> 문자 str

# 5-1. 데이터타입 변경하기
변경하려는 데이터타입으로 감싸주기

> 정수로 변경하기
<br/> int(변수)

> 실수로 변경하기
<br/> float(변수)

> 문자로 변경하기
<br/> str(변수)

In [ ]:
# 변수v를 정수로 만들어보기

####실습3. 섭씨온도 화씨온도로 변환하기


*   섭씨온도 정수로 입력받고
*   화씨온도로 변환한 결과를 출력


> 화씨온도로 변환하는 식 =  9 / 5 * 섭씨온도 + 32 (9/5는 나눗셈한 결과)

*   입력예시 : 30
*   출력예시 : 86.000