<a href="https://colab.research.google.com/github/dudgus7477/python/blob/main/04.%20(%EC%8B%A4%EC%8A%B5%EC%9A%A9)%20%EB%A6%AC%EC%8A%A4%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  1. 리스트

```
리스트 여러 데이터를 한 번에 묶어서 표현
리스트이름 = [데이터1, 데이터2, ..., 데이터n]
```

> 실생활의 리스트
    
<img src='https://github.com/teacher-jiejie/allinone_AI/blob/images/56_%EC%82%AC%EC%95%BC%ED%95%A0%20%EB%A6%AC%EC%8A%A4%ED%8A%B8.png?raw=true' width=150>

</br>
</br>

> 파이썬의 리스트

<img src='https://github.com/teacher-jiejie/allinone_AI/blob/images/6_%EB%A6%AC%EC%8A%A4%ED%8A%B8%EA%B0%9C%EB%85%90.png?raw=true' width=600>

In [ ]:
# 6개 숫자 리스트로 만들기

In [ ]:
#출력

In [ ]:
#유형

### 리스트와 인덱스
<img src ='https://github.com/teacher-jiejie/allinone_AI/blob/images/7_%EB%A6%AC%EC%8A%A4%ED%8A%B8%EC%9D%B8%EB%8D%B1%EC%8A%A4.png?raw=true' width =700>

In [ ]:
# 25가 출력되려면?

In [ ]:
# 56이 출력되려면?

알고보니 4번째 숫자가 10낮게 기록됐다. 4번째 숫자인 53에 10을 더하시오

In [ ]:
print('변경 전 :', s)



print('변경 후 :', s)

다섯번째 숫자인 24를 2로 나누시오.

# 2. 마이너스 인덱스

<img src = 'https://github.com/teacher-jiejie/allinone_AI/blob/images/8_%EB%A6%AC%EC%8A%A4%ED%8A%B8%20%EB%A7%88%EC%9D%B4%EB%84%88%EC%8A%A4%EC%9D%B8%EB%8D%B1%EC%8A%A4.png?raw=true' width=500>

#  3.  리스트의 다양한 기능

### 리스트 길이 확인
> len(리스트이름)

### 리스트에 데이터 추가하기

> 리스트이름.append(데이터)  



```
food = ['피자','치킨','떡볶이','스테이크','파스타']
```

### 빈 리스트 만들고 데이터 추가하기

In [ ]:
# 해야할 일을 저장하는 리스트 to_do
to_do = []

In [ ]:
# 해야할 일을 입력(input)받아 to_do에 저장하기

### 리스트 슬라이싱


> 리스트[시작숫자 : 종료숫자]

<img src = 'https://github.com/teacher-jiejie/allinone_AI/blob/images/9_%EB%A6%AC%EC%8A%A4%ED%8A%B8%EC%8A%AC%EB%9D%BC%EC%9D%B4%EC%8B%B1.png?raw=true' width=500>


종료숫자-1 까지 잘라내는 것

```
abc[2:5]       # abc[2]~abc[4]까지 슬라이싱
abc[4:9]       # abc[4]~abc[8]까지 슬라이싱
```




```
food = ['피자','치킨','떡볶이','스테이크','파스타']
```

In [ ]:
# 떡볶이, 스테이크만 골라내기

In [ ]:
# 처음부터 스테이크까지 골라내기

In [ ]:
# 뒤에서 n개 데이터 슬라이싱

### 문자열 슬라이싱

In [ ]:
date = '2025-03-13'

In [ ]:
#연도만 출력

In [ ]:
#일만 출력

In [ ]:
#달만 출력

### split()으로 문자열 슬라이싱

In [ ]:
date = '2024-08-28-수요일'

In [ ]:
# 공백을 기준으로 split

In [ ]:
# -을 기준으로 split

In [ ]:
# split의 결과는 리스트이므로 인덱스 사용 가능

In [ ]:
# split의 결과는 문자이므로 숫자로 변환해야 함

# 4. 리스트와 제어구조

### 1) for a in data 에서 data에 리스트를 넣을 때

다음 s의 모든 원소를 차례대로 출력하시오


```
s = [25, 36, 8, 53, 24, 56]
```

In [ ]:
# 50이상 숫자를 출력하시오.

In [ ]:
# len() 활용하기
# ~월 지출은 ~ 입니다.라고 출력하기

# 5. 이차원 리스트

<img src ='https://github.com/teacher-jiejie/allinone_AI/blob/images/14_%EC%9D%B4%EC%B0%A8%EC%9B%90%20%EB%A6%AC%EC%8A%A4%ED%8A%B8.png?raw=true' width = 700>

## 이차원 리스트의 인덱스

<img src = 'https://github.com/teacher-jiejie/allinone_AI/blob/images/15_%EC%9D%B4%EC%B0%A8%EC%9B%90%20%EB%A6%AC%EC%8A%A4%ED%8A%B8%20%EC%9D%B8%EB%8D%B1%EC%8A%A4.png?raw=true' width = 700>

In [ ]:
# 1 출력하기

## 반복문과 이차원 리스트

> 이차원리스트 반복 원리

<img src = 'https://github.com/teacher-jiejie/allinone_AI/blob/images/16_%EC%9D%B4%EC%B0%A8%EC%9B%90%20%EB%A6%AC%EC%8A%A4%ED%8A%B8%20%EB%B0%98%EB%B3%B5%EA%B5%AC%EC%A1%B0.png?raw=true' width=800>

In [ ]:
# 모든 줄의 첫번째 데이터만 출력

In [ ]:
#모든 줄의 마지막 데이터(세번째 열)만 출력